{% extends 'base.html' %}

{% block title %}Module Management{% endblock %}

{% block content %}
<h1>Product</h1>
<p>Here you can manage your Product.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Barcode</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Populate this with your module data -->
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.product_category }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.barcode }}</td>
            <td>
                {% if perms.product_module.change_product %}
                <a href="{% url 'product_update' product.id %}">Edit</a> 
                {% endif %}

                {% if perms.product_module.delete_product %}
                | <a href="{% url 'product_delete' product.id %}">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if perms.product_module.delete_product %}
<a href="{% url 'product_create' %}">Create New Product</a>
{% endif %}
{% endblock %}