{% extends 'base.html' %}

{% block title %}Module Dashboard{% endblock %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Module Dashboard</h1>
    <div class="row g-4">
        {% for module in modules %}
        <div class="col-md-1 mb-5 mx-4"> <!-- mx-2 adds horizontal margin -->
                <a style="text-decoration: none;" href="{% if module.name == 'product_module' %}{% url 'product_list' %}{% else %}#{% endif %}">
                <div class="card">
                    <img src="{% static module.icon %}" class="card-img-top" alt="{{ module.name }}">
                </div>
                <p class="text-muted small text-center mt-1">{{ module.verbose_name }}</p>

                </a>
            </div>
        {% endfor %}

        {% if is_manager_or_admin %}
            <div class="col-md-1 mb-5 mx-4">
                <a style="text-decoration: none;" href="{% url 'user_list' %}">
                <div class="card">
                    <img src="{% static 'icons/user_icon.png' %}" class="card-img-top" alt="User Management">
                </div>
                <p class="text-muted small text-center mt-1">User</p>

                </a>
            </div>
            <div class="col-md-1 mb-5 mx-4">
                <a style="text-decoration: none;" href="{% url 'module_list' %}">
                <div class="card">
                    <img src="{% static 'icons/apps_icon.png' %}" class="card-img-top" alt="App Management">
                </div>
                <p class="text-muted small text-center mt-1">Apps</p>

                </a>
            </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}

