{% extends 'base.html' %}

{% block title %}Module Management{% endblock %}

{% block content %}
<h1>Module Management</h1>
<p>Here you can manage your modules.</p>

<!-- Example table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Module</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Populate this with your module data -->
        {% for module in modules %}
        <tr>
            <td>{{ module.name }}</td>
            <td>{{module.is_installed}}</td>
            <td>
                <form method="post" action="{% url 'module_action' module.id %}">
                    {% csrf_token %}
                    {% if not module.is_installed %}
                        <button type="submit" class="btn btn-info" name="action" value="install">Install</button>
                    {% else %}
                        <button type="submit" class="btn btn-info" name="action" value="upgrade">Upgrade</button>
                        <button type="submit" class="btn btn-light" name="action" value="uninstall">Uninstall</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
