{% extends "base.html" %}

{% block title %}Welcome to My Django Project{% endblock %}

{% block content %}
<!-- Main Section -->
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to My Django Project</h1>
    <p class="lead">This is the root page. Explore the various features of the site.</p>
    <hr class="my-4">
    <p>Start by checking the modules and manage them as needed.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'module_list' %}" role="button">Manage Modules</a>
</div>

<!-- Features Section -->
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Feature 1</h5>
                <p class="card-text">Description of Feature 1.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Feature 2</h5>
                <p class="card-text">Description of Feature 2.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Feature 3</h5>
                <p class="card-text">Description of Feature 3.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
